<article class="container">
  <h1>Welcome to your one-stop resource for everything fishing and boating.</h1>
  <p>
    Learn about each species’ habitat, suggested fishing methods and recommended baits and lures. Use our Fish Species Explorer to find the freshwater fish or saltwater fish you expect to catch on your next fishing adventure.
  </p>
  <p>
    Our interactive map will help you find great fishing and boating spots in your area and throughout the U.S. You can search for a body of water based on fish species and even find nearby gear and equipment, bait shops, license vendors, boat ramps and more. If you've never used our map before, the “HOW TO USE THE MAP” instructions can help you get started!
  </p>
  <div class="row"> 
    <div class = "col-md-4 col-sm-4 col-xs-12 about">
      <h2>
        Bluegill
      </h2>
       <%= image_tag("bluegill.png", class: "img-responsive") %>
       <p>Today the bluegill is one of the most popular panfish species in North America.</p>
       <%= image_tag("m-n-s-w.png", class: "img-responsive") %>
    </div>
    <div class = "col-md-4 col-sm-4 col-xs-12 about">
      <h2>Largemouth Bass</h2>
       <%= image_tag("largemouth-bass.png", class: "img-responsive") %>
       <p>The largemouth bass is the most popular freshwater game fish.</p>
       <%= image_tag("m-n-s-w.png", class: "img-responsive") %>
    </div>
    <div class = "col-md-4 col-sm-4 col-xs-12 about">
      <h2>Rainbow Trout</h2>
       <%= image_tag("rainbow-trout.png", class: "img-responsive") %>
       <p>The rainbow trout is an extremely valuable species in any and all of its forms.</p>
       <%= image_tag("m-n-s-w.png", class: "img-responsive") %>
    </div>
  </div>
</article>