<h3><%= link_to article.title, article %></h3>
<p>
  Created by: 
  <strong>
    <%= article.autor %> 
  </strong> 
  <i class="time">
    <%= article.created_at.strftime("%b %d, %Y") %>
  </i>
</p>

<p>
  <%= image_tag(article.photo.url, class: "img-responsive") %>
  
</p>
<p>
  <%= truncate(article.article_body,length: 140) %>  
  <%= link_to 'Read more.', article %>
</p>

 