<h3><%= article.title %></h3>
<p>
  Created by: 
  <strong>
    <%= article.autor %> 
  </strong> 
  <i class="time">
    <%= article.created_at.strftime("%b %d, %Y") %>
  </i>
</p>
<p>
  <%= image_tag(article.image_url, class: "img-responsive") unless article.image_url.blank? %>
  
</p>
<p>
  <%= truncate(article.article_body,length: 140) %>  
  <%= link_to 'Read more.', article %>
</p>
    
 