<%= form_for(article, :html => { multipart: true }) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(article.errors.count, "error") %> 
        prohibited this article from being saved:
      </h2>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form action="">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :autor %>
    <%= f.text_field :autor %>
  </div>

  <div class="field">
    <%= f.label :article_body %>
    <%= f.text_area :article_body %>
  </div>

  <div>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  

  <div class="actions">
    <%= f.submit  class: "btn btn-default btn-form"%>
  </div>
  </form>
<% end %>
