<article class="container">
  <p id="notice"><%= notice %></p>
  <div class="wrap">
    <h3>
      <%= @article.title %>
    </h3>
    <p>
      By: <%= @article.autor %>
    </p>
    <p>
      <%= image_tag(@article.image_url, class: "  img-responsive")%>
    </p>
    <p>
      <strong>Article body:</strong>
      <%= simple_format @article.article_body, class: "txt_indent"%>
    </p>

  </div>

  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-default" %>
  <%= link_to 'Back', articles_path, class: "btn btn-default" %>
</article>