<article class="container min-height">  
  <p id="notice"><%= notice %></p>
    <div class="name-show">
      <p>
        <strong>User Id:</strong>
        <%= @user.id %>
      </p>
      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>
      
      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>
  <%= link_to 'Edit', edit_user_path(@user),class: "btn   btn-default" %> 
  
  <% if current_user.try(:admin?) %>
    <%= link_to 'Back', users_path,class: "btn btn-default" %>
  <% end -%>
</article>